<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GetIMPFromSelector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F47123601D8A42770081D873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47123791D8A42780081D873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47123841D8A42780081D873</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
