<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVPlayerSample2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4C840D51C9D65F500410741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4C840EE1C9D65F500410741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4C840F91C9D65F500410741</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
